.info-title {
   	margin: 0;
    	padding: 0.3rem;
    	background-color: #eee;
   	font: 1rem 'Fira Sans', sans-serif;
}

.info-title > h1,
.info {
    	margin: 0.5rem;
    	padding: 0.3rem;
    	font-size: 1.7rem;
}

.info {
    	background: right/contain content-box border-box no-repeat url('/media/examples/rain.svg') white;
}

.info > a {
	text-decoration: none;
	color: blue;
    	margin: 0.2rem;
    	font-size: 1.5rem;
}
.info > p {
	text-decoration: none;
	color: black;
   	margin: 0.2rem;
    	font-size: 1.3rem;
}
